<!DOCTYPE html>
　　<html>
　　<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!--<meta http-equiv="refresh" content="0; url=blog_demo/" />
		<script>
		// window.location = 'about.html';
		window.location = 'blog_demo/';
		</script>
		-->
		<title>{{ page.title }}</title>
		<link href="http://heihua.github.com/blog_demo/css/default.css" rel="stylesheet" type="text/css">
		<link href="http://heihua.github.com/blog_demo/css/highlight.css" rel="stylesheet" type="text/css">
		<link href='http://heihua.github.com/blog_demo/images/favicon.ico' rel='shortcut icon' type='image/ico'>
		<!--[if lte IE 8]>
		<script src="http://heihua.github.com/blog_demo/js/html5.js"></script>
		<![endif]-->　　
		
	</head>
　　<body>
	<header>
		<h1><a href="/blog_demo/index.html">Heihua.github.com</a></h1>
		<a href="/blog_demo/index.html" class="logo"></a>
	</header>
    <nav>
      <ul class="clearfix">
        <li><a href="/blog_demo/index.html">Home</a></li>
		<li><a href="/blog_demo/projects.html">Project</a></li>
		<li><a href="/blog_demo/about.html">About</a></li>
      </ul>
    </nav>
    {{ content }}
　　</body>
　　</html>
